@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic");
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\000035}}
body {
  margin: auto;
  font-family: "Open Sans", sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\000039}}
.hero {
  display: flex;
  flex-direction: column; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\0000313}}
  .hero__wrapper-text-img {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 800px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\0000320}}
  .hero__text-block {
    background-color: #E3F5F2;
    width: 80%;
    padding: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\0000326}}
  .hero__img {
    background-image: url("bg.png");
    background-position: center;
    background-size: cover;
    width: 20%;
    background-repeat: no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\0000334}}
  .hero__form-block {
    position: absolute;
    border-radius: 10px;
    background-color: #1C1C1C;
    opacity: 0.9;
    width: 343px;
    height: 391px;
    left: 4%;
    top: 46%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\0000345}}
p {
  color: #7A7A7A;
  font-size: 16px;
  line-height: 28px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\0000350}}
h1 {
  font-size: 26px;
  line-height: 38px;
  letter-spacing: -1.27273px;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\0000356}}
h3 {
  color: #999999;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 1.08333px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\0000365}}
.form {
  height: 75%;
  text-align: center;
  padding-top: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\0000370}}
  .form__submit {
    background-color: #0AD9C6;
    border-radius: 6px;
    width: 296.18px;
    height: 51px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    margin: 10px 0px;
    cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\0000383}}
  .form__input {
    border-radius: 4px;
    width: 263.89px;
    height: 48px;
    margin: 10px 0px;
    border: none;
    padding-left: 36px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\0000393}}
.form-block__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 23px;
  color: #7A7A7A;
  width: 312.46px;
  margin: 0px 5px 15px 24px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\00003101}}
::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #1C1C1C; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\00003107}}
.features {
  display: flex;
  flex-direction: column;
  margin: 40px 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\00003113}}
  .features__block-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\00003119}}
  .features__text-p {
    font-size: 16px;
    line-height: 28px;
    color: #7A7A7A; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\00003124}}
  .features__img-first {
    background-image: url("image1.png");
    background-size: cover;
    background-position: center;
    height: 240px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\00003131}}
  .features__img-second {
    background-image: url("image2.png");
    background-size: cover;
    background-position: center;
    height: 240px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\00003138}}
h2 {
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: #000000; }

@media (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\00003151}}
  .hero__text-block {
    width: 75%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\00003154}}
  .hero__img {
    width: 25%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\00003157}}
  .hero__form-block {
    left: 48%;
    top: 37%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\00003161}}
  .hero__text-block__wrapper {
    position: absolute;
    top: 249px;
    width: 301px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\00003167}}
  h1 {
    font-size: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\00003171}}
  .features__block-wrap {
    flex-direction: row;
    flex-wrap: wrap; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\00003175}}
  .features__img-first, .features__img-second {
    width: 50%;
    height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\00003180}}
  .features__text {
    width: 43%;
    padding: 10px 0px 10px 52px; } }
@media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\00003187}}
  .hero__text-block {
    width: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\00003190}}
  .hero__img {
    width: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\00003193}}
  .hero__form-block {
    left: 37%;
    top: 37%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\00003197}}
  .features {
    margin: 60px 62px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\00003200}}
    .features__img-first, .features__img-second {
      width: 55%;
      margin-left: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\00003204}}
    .features__text {
      width: 30%;
      padding: 10px 0px 10px 72px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\00003208}}
    .features__block-wrap {
      margin-bottom: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Olenka\/Documents\/WORK\/EDICASOFT\/project\/style\.scss}line{font-family:\00003212}}
    .features__block-wrap:last-child {
      flex-direction: row-reverse; } }

/*# sourceMappingURL=style.css.map */
